<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="article single-col">
                <span class="block text-6xl mb-1">Election Day</span>
                <h2>Make your voice heard, NYC!&nbsp;</h2>
                <h4>Where to vote</h4>
                <p>You must vote at your assigned poll site. Poll sites can change year to year, or even last minute if
                    there’s an issue such as a water main break or power outage. So make sure to check before you go!
                </p>
                <p><a rel="noopener" href="https://findmypollsite.vote.nyc/" target="_blank" title="Find my poll site"
                        class="content-link-parent"><span class="content-link">Find my poll site</span></a></p>
                <h4>When to vote</h4>
                <p>Polls are open on&nbsp; November 7 from 6am - 9pm. You can also vote early in person from October 28
                    - November 5.</p>
                <p><a href="#/pages/earlyvote" title="Learn more about early voting"
                        class="content-link-parent"><span class="content-link">Learn more about early voting</span></a>
                </p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>