
<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl mb-1">Ways to Vote</span>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="/assets/demo/images/voteways/ways-to-vote.png" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%) ;height:400px!important;">
    </div>
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="mb-3 font-bold text-2xl">
            <span class="text-blue-600">What you need to know.</span>
        </div>
        <div class="text-700 text-sm mb-6">Our future is on the ballot, NYC. Your vote in the November 7 general election will help decide who represents your community in the City Council.
            There are three ways to cast your ballot:</div>
        <div class="grid">
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-send text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 mb-3 font-medium">Early Voting</div>
                <span class="text-700 text-sm line-height-3">Don’t wait until Election Day! You can vote early in person starting on October 28.</span>
                <p><a href="#/pages/earlyvote" title="Learn more about early voting"
                    class="content-link-parent"><span class="content-link">Learn more about early voting</span>
                    </a>
                </p>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-truck text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 mb-3 font-medium">Vote by Mail</div>
                <span class="text-700 text-sm line-height-3">You can request an absentee ballot if you have a valid reason, such as being away from New York on Election Day.</span>
                <p><a href="#/pages/mailvote" title="Learn more about Vote by Mail"
                    class="content-link-parent"><span class="content-link">Learn more about Vote by Mail</span>
                    </a>
                </p>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-check-circle text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 mb-3 font-medium">Election Day</div>
                <span class="text-700 text-sm line-height-3">Polls are open on Election Day from 6am-9pm.</span>
                <p><a href="#/pages/electionday" title="Learn more about Election Day"
                    class="content-link-parent"><span class="content-link">Learn more about Election Day</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
