<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="mb-3 text-2xl">
                <span class="block text-6xl mb-1">Vote by Mail</span>
            </div>
            <div class="article single-col">
                <h2>If you can’t vote in person, vote by mail</h2>
            <p>Voting by mail is a safe, easy, and secure option for those who need it!</p>
            <p>You can request an absentee ballot if you have a valid reason, such as being away from New York on Election Day or having an illness or physical disability. The deadline to request an absentee ballot is <strong>November 6</strong>.</p>
            <p><em>Did you know:</em> Over 33x more voters requested absentee ballots in the June 2020 presidential primary election than in the 2016 presidential primary election.</p>
            </div>

            <span class="block text-3xl font-bold mb-3 mt-3">How to Vote by Mail</span>
            <p-accordion>
                <p-accordionTab header="Step 1: Request a ballot" [selected]="true" class="line-height-3 m-0">
                    <p>To vote by mail you must request an absentee ballot from the Board of Elections. Accessible absentee ballots that can be read by a screen reader are also available for voters who are visually impaired.</p>
                    <p>What they do:&nbsp;&nbsp;</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">Online
                            <ul><li>You can request an absentee ballot from the NYC Board of Elections website. It takes less than two minutes!</li></ul>
                        </li>
                        <li style="font-weight: 400;" aria-level="1">By Mail
                            <ul><li>To request an absentee ballot by mail, fill out a paper request form and mail it to your local NYC Board of Elections office.</li></ul>
                        </li>
                        <li style="font-weight: 400;" aria-level="1">Phone
                            <ul><li>You can also call the NYC Board of Elections to ask for a ballot request form. Call 1-866-VOTE-NYC (1-866-868-3692).</li></ul>
                        </li>

                    </ul>
                    <p><a href="/assets/demo/data/Ballot_English.pdf" title="Download Ballot Request Form"
                        class="content-link-parent"><span class="content-link">Download Ballot Request Form</span>
                        </a>
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Step 2: Complete your ballot" class="line-height-3 m-0">

                    <p>To complete your ballot:</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">Use a blue or black pen.</li>
                        <li style="font-weight: 400;" aria-level="1">Mark your choices by completely filling in the ovals. </li>
                        <li style="font-weight: 400;" aria-level="1">Place your ballot in the ballot envelope. Sign and date the back of your ballot envelope by the red X.</li>
                        <li style="font-weight: 400;" aria-level="1">Place your ballot envelope in the return envelope with the barcode.</li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header=" Step 3: Return your ballot" class="line-height-3 m-0">
                    <p>You can return your absentee ballot by mailing it to the NYC Board of Elections or dropping it off at a ballot box.</p>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1">Mail in your ballot
                            <ul>
                                <li>Your ballot must be postmarked by November 7. We recommend mailing it in as soon as possible!</li>
                                <li>Return postage is prepaid. You do not need to add a stamp.</li>
                            </ul>
                        </li>
                        <li style="font-weight: 400;" aria-level="1">Drop off your ballot
                            <ul>
                                <li>You can drop your ballot in a ballot box at any poll site or Board of Elections office by November 7.</li>
                                <li>You do not need postage if you are dropping off your ballot.</li>
                            </ul>
                        </li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header="Step 4: Track your ballot" class="line-height-3 m-0">
                    <p>You can track your ballot from the Board of Elections. The ballot tracker will let you know the status of your ballot after you submit a request. It will also let you know if the Board of Elections has received your completed ballot and whether it’s valid.</p>
                </p-accordionTab>
                <p-accordionTab header="If needed: Fix errors on your ballot" class="line-height-3 m-0">
                    <p>The Board of Elections is required to notify you if there is a curable error on your ballot envelope, such as a missing or incorrect signature. If there is a fixable error on your ballot, they will contact you by mail, email, and phone (if available) within one day of discovering the error. You will then have a minimum of five days to correct the error by returning a signed affirmation.</p>
                </p-accordionTab>
            </p-accordion>

        </div>
    </div>
</div>
